.main{
	width: 1272px;
	margin: 0 auto;
}
.top{
	float: left;
	width: 1272px;
	height: 60px;
	border: 1px solid red;
	display: inline-block;
}
.simg1{
	float: left;
	margin-left: 80px;
	line-height: 60px;
}
.c{
	float: right;
	font-size: 22px;
	line-height: 60px;
	padding-left: 20px;
}
.sinp{
	float: right;
	margin-right: 39px;
	line-height: 60px;
}
.sinp input{
	width: 275px;
	height: 28px;
	border: 2px solid #459d36;
	background: url(../img/suoso-2.gif)no-repeat;
	background-position: right;
}
